@font-face {
  font-family: "Knewave-Regular";
  src: url("/Knewave-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#hitpoints {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

video {
  opacity: 0;
  height: 1px;
  width: 1px;
}
